<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<style type="text/css">
.jumbotron.bgimg {
    background-image: url('/assets/jumbotron.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: white 0.3em 0.3em 0.3em;
      
}
.jumbotron.container {
    width: 100%;
    height:auto;
    
}

  div.jumbo {
    
    background-color: rgba(192,192,192,0.6);
    padding: 15px;
    border-radius: 5px;
    width: 65%;
    color:black;
  }



</style>
<head>
      <%= render 'shared/navbar_Layout' %>
</head>
<body background="/assets/background.png"  style="background-repeat:no-repeat;background-size:cover;">
    <% if logged_in? %>
    <br>
    <br>
    <br>
    <%end%>
    <%= flash_messages %>
    <div class="jumbotron bgimg" > 
        <div class="container">
          <div class="jumbo">
           
              <h1 class="ontop">Investment Aid System</h1>
                <p>With Technical Analysis and Text Mining Using Python and Ruby on Rails</p>
                <p><a class="btn btn-logins" href="/about" role="button" style="color:white;">Learn more</a></p>
          </div>
        </div>
    </div>
<h1 align="left" style="color:white;margin-left:0.2%">News <a href="/news" style="margin-left:80%;font-size:60%;"> More News >> </a></h1>
    <% if @bloom != " " %>

      <div class="row">
       <% @bloom.each_slice(3) do |blooms| %>
       <% blooms.each do |s| %>
        <div class="col-sm-6 col-md-4">
        
          <div class="thumbnail">
            <div class="caption">
              <h3><%= s.headlines %> </h3><h6><%= s.newsDate %></h6>
              <p><%= s.story %></p>
              <p>Polarity : <%= s.polarity %></p><p>Subjectivity : <%= s.subjectivity %></p>
              <p><a href=<%= s.newsUrl %> class="btn btn-logins" role="button" style="color:white;">Read More</a></p>
            </div>
          </div>
        </div>
        <% end %><% end %><% end %> 
      </div>
     
</body>