<head>
 <title>Sign Up | Investment Aid System</title>
  <%= render 'shared/navbar_Layout' %>
</head>
    <link rel="stylesheet" href="/assets/css/session.scss">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<body background="/assets/background.png"  style="position:static;overflow:auto;background-repeat:no-repeat;background-size:cover;">
    <br>
       
    <% provide(:title, 'Sign up') %>

        <div class= "login" >
          <h1 align="center" style="color:white">Sign Up</h1>
    <p style="color:white;font-size:110%" align="center">Sign up to an account for free</p>
            <div class="login-screen" >
                <div class="row">
                  <div class="col-md-7">
                    <%= form_for(@user) do |f| %>
                      <%= render 'shared/error_messages' %>

                      <%= f.label :userFname, "Full Name"  %>
                      <%= f.text_field :userFname  %>
                      <br>
                      <%= f.label :user_Cntct, "Contact Number"%>
                      <%= f.text_field :user_Cntct %>
                       <br>
                      <%= f.label :user_email, "Email"%>
                      <%= f.email_field :user_email  %>
                       <br>
                        <p><%= f.label :password_digest, "Password" %>
                        <%= f.password_field :password_digest %></p>

                       <br><br>
                      <%= f.submit "Create my account", class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
            </div>
        </div>
</body>
