<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<head> <div><nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Investment Aid System</a>
        <ul class="nav navbar-nav">
            <li ><a href="homepage">Home</a></li>
            <li class="active"><a href="/index">Companies</a></li>
            <li><a href="/news">News</a></li>
            <li ><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
          </ul>

        </nav>
    </div>
</head>
<br>
<br>
<h1>Company List</h1>


<%= form_tag(companies_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Company" %>
<%= submit_tag "Search" %>
<% end %>

<%= will_paginate @comp %>
	  	<table style="width: 80%; marginLeft:30px;">                         
			  <tr style="height: 50px">
			    <th>    </th>
			    <th>    </th> 
			    <th>    </th>     
			    <th>No. </th> 
			    <th>    </th>                     
			    <th>Company Name</th>
			    <th> Company Tickers  </th> 
			    <th> Exchange  </th> 
			  </tr>
			    <% @comp.each do |company|  %> 
			  <tr>
			    <td>    </td>
			    <td>    </td>
			    <td>   </td>
			    <td><%= company.id %></td>
			    <td>   </td> 
			    <td><%= company.company_name %></td>
			    <td><a href="/centralAnalysis/<%= company.stock_tickers%>"> <%= company.stock_tickers%></a></td>
			    <td><%= company.exchange %></td>
			  </tr>
			<% end %>                  
			</table>  



