<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<head><%= render 'shared/navbar_Layout' %>
      <style type="text/css">
        .bgwrapper {
           width:100%;
           height:100%;
           background-size:cover;
           background-attachment:fixed;    
        }
    </style>
</head>
<body class="bgwrapper" background="/assets/background.png"  style="position:static;overflow:auto;background-repeat:no-repeat;background-size:cover;">

<br>
<br>
<h1 align="center" style="color:white">Company List</h1>
<p style="color:white;font-size:110%" align="center">This list consist of companies listed in the NASDAQ and NYSE Exchange</p>
<br>
<div class ="row">
	<div class ="col-md-1"></div>
	<div class ="col-md-6" align="right">
		<%= form_tag(companies_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Company" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>
		
	<div class ="col-md-5" align="left"><text bgcolor="#000000" style="color:white;font-size:120%"> <%= will_paginate @comp %> </text></div>
</div>




<div class ="col-md-4"></div>
<div class ="col-md-12">
	<div class ="col-md-2"></div>
	<div class ="col-md-10">
			<table class ="table table-bordered"  bgcolor="#fbfbfb" style="width: 80%; marginLeft:30px;">
	  		<thead class="">                       
			  <tr bgcolor="#000000" style="height: 50px;color:white;">   
			    <th>No. </th>                    
			    <th>Company Name</th>
			    <th> Company Tickers </th> 
			    <th> Exchange  </th> 
			  </tr>
			</thead>
			    <% @comp.each do |company|  %> 
			  <tr bgcolor="#fbfbfb">
			    <td><%= company.id %></td>
			    <td><%= company.company_name %></td>
			    <td><a href="/centralAnalysis/<%= company.stock_tickers%>"> <%= company.stock_tickers%></a></td>
			    <td><%= company.exchange %></td>
			  </tr>
			<% end %>                  
			</table>  
	</div>
</div>
	  
</body>


