<link rel="stylesheet" href="/assets/css/session.scss">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head> 
     <%= render 'shared/navbar_Layout' %>
    <style type="text/css">
        .column {
            width: 66%;
            word-wrap: break-word;
            font-size: 12px;
            vertical-align: left;
        }

        .bgwrapper {
           width:100%;
           height:100%;
           background-size:cover;
           background-attachment:fixed;    
        }
         div.tabb {
    
            background-color: rgba(192,192,192,0.6);
            padding: 20px ;
            border-radius: 5px
            color:black;
        }
     
    </style>
</head>
<br>
<br>
<br>
<body class="bgwrapper" background="/assets/background.png"  style="position:static;overflow:auto;background-repeat:no-repeat;background-size:cover;">

<h1 align="center" style="color:white">Central Analysis</h1>
<br>
<div class="row">
  <div class="col-md-8">
    <div id="containers" ></div>
  </div>
  <div class=" col-md-1"></div>
  <div class=" col-md-4">
    <div class="container col-md-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"> Summary </div>
    
       <% if @summ != " " %>
       <% @summ.each do |d| %>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Bid  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=d.bid %></li>
        <li class="list-group-item">Ask  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= d.ask %></li>
        <li class="list-group-item">1 Day Range &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=d.dayRange %></li> 
        <li class="list-group-item">52 week Range  &nbsp;&nbsp;&nbsp;  <%= d.fiftytwoWRange %></li>
        <li class="list-group-item">Average Volume &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= d.avgvol %></li>
        <li class="list-group-item">Market Cap  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=d.marketCap %></li>
        <li class="list-group-item">P/E ratio TTM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= d.PEratioTTM %></li>
        <li class="list-group-item">Dividend Yield &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=d.DividentYield %></li>
        <li class="list-group-item">EX-Divident Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=d.ExdivDate %></li>
      </ul>
      <% end -%>
    </div>
  </div>
  </div>
</div>
<br>
<script type="text/javascript">
        var seriesOptions = [],
            seriesCounter = 0,
            stock_tickers = '';
            names = ['data', 'predict'];

        $.getJSON('/views/analyzer/data/', function(data) {
            // set the allowed units for data grouping
            var groupingUnits = [
                [
                  'week',                         // unit name
                  [1]                             // allowed multiples
                ],
                [
                  'month',
                  [1, 2, 3, 4, 6]
                ]
            ];

            var ohlc = [],
                volume = [],
                predicted_prices = [],
                //Get records from each json node (stock, prediction)
                stockList = data.stock,
                predictionList = data.prediction;

            stock_tickers = stockList[0].stock_tickers;
            $.each(stockList, function (index, stock){
              ohlc.push([
                  parseInt(stock.price_date), // the date
                  parseFloat(stock.price_open), // open
                  parseFloat(stock.price_high), // high
                  parseFloat(stock.price_low), // low
                  parseFloat(stock.price_close) // close
              ]);
              volume.push([
                  parseInt(stock.price_date), // the date
                  parseFloat(stock.volume) // the volume
              ]);
            });

            $.each(predictionList, function(index, prediction){
              predicted_prices.push([
                parseInt(prediction.updated_at),
                parseFloat(prediction.predicted_price)
              ]);
            })
           console.log(stockList)
            seriesOptions = [
              {
                  type: 'spline',
                  name: 'Predicted price',
                  data: predicted_prices,
                  color: '#FFFF00',
                  dataGrouping: {
                              units: groupingUnits

                    },
                   marker: {
                    enabled: true
                    }
              },
              {
                  type: 'spline',
                  name: 'Past price',
                  data: ohlc,
                  color: '#008080',
                  dataGrouping: {
                              units: groupingUnits

                    },
                   marker: {
                    enabled: true
                    }
              },
              {
                  type: 'candlestick',
                  name: 'Past price',
                  data: ohlc,
                  dataGrouping: {
                      units: groupingUnits
                  }
              },
              {
                  type: 'column',
                  name: 'Volume',
                  data: volume,
                  yAxis: 1,
                  dataGrouping: {
                              units: groupingUnits
                    }
              }
            ];
            createChart();
        });
            Highcharts.theme = {
               colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                  '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
               chart: {
                  backgroundColor: {
                     linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                     stops: [
                        [0, '#2a2a2b'],
                        [1, '#3e3e40']
                     ]
                  },
                  style: {
                     fontFamily: '\'Unica One\', sans-serif'
                  },
                  plotBorderColor: '#606063'
               },
               title: {
                  style: {
                     color: '#E0E0E3',
                     textTransform: 'uppercase',
                     fontSize: '20px'
                  }
               },
               subtitle: {
                  style: {
                     color: '#E0E0E3',
                     textTransform: 'uppercase'
                  }
               },
               xAxis: {
                  gridLineColor: '#707073',
                  labels: {
                     style: {
                        color: '#E0E0E3'
                     }
                  },
                  lineColor: '#707073',
                  minorGridLineColor: '#505053',
                  tickColor: '#707073',
                  title: {
                     style: {
                        color: '#A0A0A3'

                     }
                  }
               },
               yAxis: {
                  gridLineColor: '#707073',
                  labels: {
                     style: {
                        color: '#E0E0E3'
                     }
                  },
                  lineColor: '#707073',
                  minorGridLineColor: '#505053',
                  tickColor: '#707073',
                  tickWidth: 1,
                  title: {
                     style: {
                        color: '#A0A0A3'
                     }
                  }
               },
               tooltip: {
                  backgroundColor: 'rgba(0, 0, 0, 0.85)',
                  style: {
                     color: '#F0F0F0'
                  }
               },
               plotOptions: {
                  series: {
                     dataLabels: {
                        color: '#B0B0B3'
                     },
                     marker: {
                        lineColor: '#333'
                     }
                  },
                  boxplot: {
                     fillColor: '#505053'
                  },
                  candlestick: {
                     lineColor: 'white'
                  },
                  errorbar: {
                     color: 'white'
                  }
               },
               legend: {
                  itemStyle: {
                     color: '#E0E0E3'
                  },
                  itemHoverStyle: {
                     color: '#FFF'
                  },
                  itemHiddenStyle: {
                     color: '#606063'
                  }
               },
               credits: {
                  style: {
                     color: '#666'
                  }
               },
               labels: {
                  style: {
                     color: '#707073'
                  }
               },

               drilldown: {
                  activeAxisLabelStyle: {
                     color: '#F0F0F3'
                  },
                  activeDataLabelStyle: {
                     color: '#F0F0F3'
                  }
               },

               navigation: {
                  buttonOptions: {
                     symbolStroke: '#DDDDDD',
                     theme: {
                        fill: '#505053'
                     }
                  }
               },

               // scroll charts
               rangeSelector: {
                  buttonTheme: {
                     fill: '#505053',
                     stroke: '#000000',
                     style: {
                        color: '#CCC'
                     },
                     states: {
                        hover: {
                           fill: '#707073',
                           stroke: '#000000',
                           style: {
                              color: 'white'
                           }
                        },
                        select: {
                           fill: '#000003',
                           stroke: '#000000',
                           style: {
                              color: 'white'
                           }
                        }
                     }
                  },
                  inputBoxBorderColor: '#505053',
                  inputStyle: {
                     backgroundColor: '#333',
                     color: 'silver'
                  },
                  labelStyle: {
                     color: 'silver'
                  }
               },

               navigator: {
                  handles: {
                     backgroundColor: '#666',
                     borderColor: '#AAA'
                  },
                  outlineColor: '#CCC',
                  maskFill: 'rgba(255,255,255,0.1)',
                  series: {
                     color: '#7798BF',
                     lineColor: '#A6C7ED'
                  },
                  xAxis: {
                     gridLineColor: '#505053'
                  }
               },

               scrollbar: {
                  barBackgroundColor: '#808083',
                  barBorderColor: '#808083',
                  buttonArrowColor: '#CCC',
                  buttonBackgroundColor: '#606063',
                  buttonBorderColor: '#606063',
                  rifleColor: '#FFF',
                  trackBackgroundColor: '#404043',
                  trackBorderColor: '#404043'
               },

               // special colors for some of the
               legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
               background2: '#505053',
               dataLabelsColor: '#B0B0B3',
               textColor: '#C0C0C0',
               contrastTextColor: '#F0F0F3',
               maskColor: 'rgba(255,255,255,0.3)'
            };
        function createChart() {
            Highcharts.setOptions(Highcharts.theme);
            Highcharts.setOptions({
              global: {
                useUTC: false
              }
            });
            Highcharts.stockChart('containers', {
                chart: {
                    width: 890
                },
                plotOptions: {
                    candlestick: {
                        color: 'red',
                        upColor: 'green'
                    }
                },
                rangeSelector: {
                    selected: 2
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                title: {
                    text:  stock_tickers + '  Historical Data and Prediction Graph'
                },
                tooltip:{
                    split: true
                },
                yAxis: [
                  {
                      labels: {
                          align: 'right',
                          x: -3
                      },
                      title: {
                          text: 'ohlc'
                      },
                      height: '60%',
                      lineWidth: 2
                  },
                  {
                      labels: {
                          align: 'right',
                          x: -3
                      },
                      title: {
                          text: 'Volume'
                      },
                      top: '65%',
                      height: '35%',
                      offset: 0,
                      lineWidth: 2
                  }
                ],
                series: seriesOptions
            });

        }
</script>
<div class="row">
 <div class="col-md-12" style="position:static;">
    <div  class="column col-md-9 tabb" style="cmargin-left:20%;">
       <h1 align="left" style="color:white;margin-left:0.2%;">News</h1>
        <ul class="nav nav-tabs">
          <li class="active" style="font-size:15px;color:black;"><a data-toggle="tab" href="#tweet" style="color:black;"><img alt="Brand" src="/assets/Twitter-logo.jpg" width="17" height="17">Twitter</a>
          </li>
          <li style="font-size:15px;color:black;"><a data-toggle="tab" href="#bloomberg" style="color:black;"><img alt="Brand" src="/assets/bernama.png" width="17" height="17" >  Bloomberg</a></li>
          <li style="font-size:15px;color:black;"><a data-toggle="tab" href="#fb" style="color:black;"><img alt="Brand" src="/assets/fbLogo.png" width="17" height="17" >  Facebook</a></li>
        </ul>
        <br>

        <div class="tab-content " style="overflow-y: scroll;height: 500px;">
            <div id="tweet" class="tab-pane fade in active">
              <% if @tweets != " " %>
                <% @tweets.each do |story| %>
                <div class="well">
                  <h4><img alt="Brand" src=<%= story.profile_pic_url %> width="30" height="30"> @<%= story.username %></h4>
                  <h6><%= story.created_at %></h6>
                  <p><%= story.tweets %></p>
                </div>
                <% end %>
              <% else %>
                <p><%= link_to "No current tweets for this company. Refresh", "/centralAnalysis" %></p>
              <% end %> 
            </div>

            <div id="bloomberg" class="tab-pane fade">
               <% if @bloom != " " %>
                <% @bloom.each do |s| %>
                <div class="well">
                  <h4> <%= s.headlines %></h4>
                  <h6><%= s.newsDate %></h6>
                  <p><%= s.story %></p>
                  <p>Polarity : <%= s.polarity %></p><p>Subjectivity : <%= s.subjectivity %></p>
                  <a href=<%= s.newsUrl %> > Read more </a>
                </div>
                <% end %>
                <% else %>
                <p><%= link_to "No current news for this company. Refresh", "/centralAnalysis" %></p>
              <% end %>
            </div>

            <div id="fb" class="tab-pane fade">
             <% if @fb != " " %>
                <% @fb.each do |post| %>
                console.log(post)
                <div class="well">
                  <% if post.fb_user == 'cnninternational' %>
                  <h4><img alt="Brand" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/1908056_10152627304334641_7130236665401879348_n.png?oh=3b180c1020b5855a113c121f2e44a05b&oe=59B767F0" width="30" height="30"> @ <%= post.fb_user %></h4>
                  <% else %>
                  <h4><img alt="Brand" src="/assets/bernama.png" width="30" height="30"> @ <%= post.fb_user %></h4>
                  <% end %>
                  <h6><%= post.time_posted %></h6>
                  <p><%= post.post %></p>
                  <img  src=<%= post.pic_url %> width="80" height="50">
                  <p>Polarity : <%= post.polarity %></p><p>Subjectivity : <%= post.subjectivity %></p>
                  <a href=<%= post.posts_url %> > Read more </a>
                  </div>
                  <% end %>
                <% else %>
                <p><%= link_to "No current Facebook posts for this company. Refresh", "/centralAnalysis" %> </p>
                <% end %>
            </div>

          </div>
        </div>
        <div class="col-md-2"> </div>
        <% if @patfound.any? %>
              <% else %>
              <div class="col-md-4" style="background-color:grey;margin-left:0.5%;opacity:0.6;">
                  <h1  align="left" style="color:white;" > No pattern found. The stock is either developing a new patterns or there are no new price data for analysis </h1>
                <% end %>
            </div>
    </div>

  </div>


<% end %>
</body>