<!DOCTYPE html>
<html>
  <head>
    <title>InvestmentAidSys</title>
    <%= csrf_meta_tags %>

<<<<<<< HEAD
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
=======
    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
>>>>>>> b5b8d16e79fff0e954da458cad9af177739ebb67
  </head>

  <body>
    <%= yield %>
  </body>
</html>
